.editable {
	&:hover {
		:global {
			.editButton {
				display: inline;
			}
		}
	}
	ul {
		padding: 0 20px;
		margin: 0;
	}
	input {
		padding: 0px;
		background: transparent;
	}
}

.edit {
	margin-left: 5px;
	cursor: pointer;
	display: none;
	background: #fff;
	border-radius: 5px;
	padding: 5px;
	color: #000;
}

.bold {
	font-family: 'Neutro';
}

.save {
	margin-left: 5px;
	cursor: pointer;
	display: inline;
	background: #fff;
	border-radius: 5px;
	padding: 5px;
	color: #000;
}

.editorBox {
	padding: 10px;
	:global {
		.saveButton {
			margin-left: 0;
			margin-top: 5px;
			cursor: pointer;
		}

		.saveButton:hover {
			background: #ccc;
		}

		.DraftEditor-root {
			margin-bottom: 5px;
			background: #fff;
			padding: 3px;
			border-radius: 3px;
		}
	}
}

.makeList {
	ul {
		list-style-type: disc;
		padding-left: 12px!important;

	}
	li {
		list-style-type: disc!important;
		padding: 3px 0;

	}
}