.stepsBox {
	width: 100%;
	padding: 20px;
}


.step1 {
	width: 100%;
	padding: 20px;
	padding-bottom: 40px;
	h2 {
		text-align: center;
		font-family: 'Neutro-light';
		font-size: 30px;
	}
}


.options {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.option {
	width: 400px;
	margin: 0 10px;
	cursor: pointer;
	border: 5px solid transparent;
	transition: border-color 0.3s;
	position: relative;
	border-color: #6100A5;
}

.option:hover {
	border-color: #EC0677;
	:global {
		.cover {
			opacity: 0;
		}
	}
}



.optionImage {
	width: 100%;
	img {
		width: 100%;
		display: block;
	}
	:global {
		.cover {
			position: absolute;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: 0.3;
			z-index: 10;
			transition: opacity 0.3s;
		}
	}
}

.optionText {
	position: absolute;
	left: 50%;
	top: calc(0% + 50px);
	transform: translateX(-50%);
	z-index: 100;
	span {
		font-size: 30px;
		color: #fff;
	}
}


.step2 {
	width: 100%;
	padding-bottom: 40px;
	h2 {
		font-family: 'Neutro-light';
		font-size: 30px;
	}
}

.step2Top {
	width: 100%;
	text-align: center;
}

.step2Bottom {
	width: 100%;
	text-align: center;
}

.options2 {
	display: flex;
	justify-content: center;
	margin: 0 10px;
}

.option2 {
	/*width: 400px;*/
	margin: 0 10px;
	cursor: pointer;
	border: 5px solid transparent;
	transition: border-color 0.3s;
	position: relative;
	border-radius: 10px;
}

.option2:hover {
	border-color: #6100A5;
}

.option2Image {
	width: 150px;
	/*background: #ccc;*/
	img {
		width: 100%;
		padding: 10px;
	}

	height: 150px;
}

.option2Text {
	padding: 10px;
	font-family: 'Neutro-light';
}


.step3 {
	text-align: center;
	padding-bottom: 40px;
	h2 {
		text-align: center;
		font-family: 'Neutro-light';
		font-size: 30px;
	}
}

.options3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 840px;
	margin-left: auto;
	margin-right: auto;
}

.option3 {
	margin: 0 10px;
	width: 300px;
	cursor: pointer;
	border: 5px solid transparent;
	transition: border-color 0.3s;
	position: relative;
}

.option3:hover {
	border-color: #6100A5;

	:global {
		.cover {
			opacity: 0.3;
		}
	}
}

.option3Image {
	width: 100%;
	img {
		width: 100%;
		display: block;
		max-height: 217px;
	}
	:global {
		.cover {
			position: absolute;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: 0;
			z-index: 10;
			transition: opacity 0.3s;
		}
	}
}

.option3Text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	span {
		color: #fff;
		font-size: 30px;
	}
}



.step4 {
	text-align: center;
	padding-bottom: 40px;
	h2 {
		text-align: center;
		font-family: 'Neutro-light';
		font-size: 30px;
	}
}

.multipleChoice {
	width: 100%;
	max-width: 800px;
	margin-left: auto;;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
}

.choiceCard {
	padding: 20px;
	width: calc(20% - 20px);
	margin: 10px 10px;
	border: 4px solid;
	border-radius: 10px;
	position: relative;
	height: 100px;
	cursor: pointer;
	transition: border-color 0.3s, background 0.3s;
	border-color: #6100A5;
	background: #6100A5;
	span {

		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: color 0.3s;
		color: #fff;
	}
}

.choiceCard:hover {
	border-color: #EC0677;
	background: #EC0677;
	span {
		color: #fff;
	}
}
.choiceCardActive {
	border-color: #EC0677;
	background: #EC0677;
	span {
		color: #fff;
	}
}

.button4 {
	margin-top: 20px;
	background: #6100A5;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 20px;
	cursor: pointer;
	transition: background 0.2s;
	span {
		font-size: 20px;
		color: #fff;
	}
}

.button4:hover {
	background: #EC0677;
}


.step5 {
	padding-bottom: 40px;
}

.step5Content {
	padding: 20px;
	h2 {
		text-align: center;
		font-family: 'Neutro-light';
		font-size: 30px;
	}
}

.choiceBox {
	width: 100%;
	h2 {
		cursor: pointer;
		background: #6100A5;
		border: 2px solid #6100A5;
		color: #fff;
		display: inline-block;
		padding: 10px 20px;
		border-radius: 20px;
		margin: 10px 0;
		transition: border-color 0.2s, background 0.2s, color 0.2s;
	}
	h2:hover {
		cursor: pointer;
		background: #EC0677;
		color: #fff;
		display: inline-block;
		padding: 10px 20px;
		border-radius: 20px;
		margin: 10px 0;
		border-color: #EC0677;
	}
	:global {
		.active {
			cursor: pointer;
			background: #EC0677;
			color: #fff;
			display: inline-block;
			padding: 10px 20px;
			border-radius: 20px;
			margin: 10px 0;
			border-color: #EC0677;
		}
	}
}

.choiceBoxBottom {
	display: flex;
	justify-content: space-between;
	background: #eee;
	padding: 20px;
	border-radius: 10px;
	h3 {
		margin-top: 0;
	}
}

.choiceBoxBottom6 {
	display: flex;
	justify-content: space-between;
	/*background: #eee;*/
	/*padding: 20px;*/
	/*border-radius: 10px;*/
	h3 {
		margin-top: 0;
	}
}

.choiceBoxQuestions {
	max-width: 600px;
	padding-right: 20px;
}

.choiceBoxKeyWords {
	width: 400px;

}

.choiceBoxColumn {
	max-width: calc(20% - 5px);
	background: #eee;
	border-radius: 10px;
	padding: 20px;	
	margin-right: 5px;
}

.question {
	font-family: 'Neutro-light';
	display: flex;
	margin: 5px 0;
	div {
		margin-right: 10px;
	}
}
.keyWord {
	font-family: 'Neutro-light';
	display: flex;
	margin: 5px 0;
	div {
		margin-right: 10px;
	}
}

.button5 {
	background: #6100A5;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 20px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	transition: background 0.2s;
	span {
		font-size: 20px;
		color: #fff;
	}
}

.button5:hover {
	background: #EC0677;
}

.step6 {
	width: 100%;
	padding: 20px;
	padding-bottom: 40px;
	h2 {
		text-align: center;
		font-family: 'Neutro-light';
		font-size: 30px;
	}
}

.plansContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.planActive {
	:global {
		.planTop {
			background: #2E3E4F!important;
			color: #fff;
		}
	}
}

.plan {
	width: 300px;
	border: 1px solid #ccc;
	margin: 0 20px;
	:global  {
		.planTop {
			background: #eee;
			font-family: 'Neutro-light';
			padding: 20px;
			text-align: center;
			height: 225px;
			border-bottom: 1px solid #ccc;
			h2 {
				margin-bottom: 20px;
				font-size: 18px;
			}
			p {
				margin-bottom: 20px;
			}
		}
		.planBottom {
			padding: 20px;

			.points {
				width: 100%;
				.point {
					margin: 10px 0;
					color: #444;
					font-family: 'Neutro-light';
					font-size: 14px;

				}
			}
		}
	}
}

.price {
	width: 100%;
	display: flex;
	justify-content: center;
	span:nth-child(1) {
		position: relative;
		top: 10px;
	}
	span:nth-child(2) {
		font-size: 50px;
	}
	span:nth-child(3) {
		align-self: flex-end;
		position: relative;
		bottom: 10px;
	}
}



.buyingOptions {
	width: 100%;
	font-family: 'Neutro-light'
}

.BuyNow {
	cursor: pointer;
	width: 100%;
	padding: 10px; 
	text-align: center;
	border-radius: 5px;
	background: #00BC6F;
	margin-bottom: 10px;
	span {
		color: #fff!important;
	}
}

.Trial {
	cursor: pointer;
	width: 100%;
	padding: 10px; 
	border-radius: 5px;
	text-align: center;
	border: 1px solid #444;
	span {
		color: #444;
	}
}

.buttonContainer {
	width: 100%;
	text-align: center;
}

.outcomes {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.outcome {
	margin: 0 20px;
	max-width: 300px;
	font-family: 'Neutro-light';
}

.outcomeHeader {
	width: 100%;
	cursor: pointer;
	background: #6100A5;
	border: 2px solid #6100A5;
	color: #fff;
	display: inline-block;
	padding: 5px 15px;
	border-radius: 20px;
	margin: 10px 0;
	h2 {
		font-size: 16px;
	}
	transition: border-color 0.2s, background 0.2s, color 0.2s;
}


.outcomePoints {
	/*text-align: center;*/
	background: #eee;
	padding: 20px;
	border-radius: 10px;

}
.outcomePoint {
	margin: 5px 0;
}