.sideMissions {

}

.breadcrumbs {
	font-family: 'Neutro-light';
	h3 {
		margin: 0;
		position: relative;

		top: -0px;
	}
	
}

.breadcrumbsContent {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	font-size: 14px;
	i {
		color: #6100A5;
		display: none;
	}
}
.breadcrumbsOption {
	padding: 0 10px;
	font-family: 'Neutro-light';
	border-right: 1px solid #000;
	cursor: pointer;
	color: #000;
	transition: color 0.2s;
	color: #EC0677;
	position: relative;
	:global {
		.hoverBox {
			display: none;
			z-index: 9999;
			position: absolute;
			top: 100%;
			background: #fff;
			border: 1px solid #000;
			border-radius: 5px;
			width: 200px;
			height: 100px;
			.box {
				width: 15px;
				height: 15px;
				background: #fff;
				border-right: 2px solid #6100A5;
				border-top: 2px solid #6100A5;
				position: absolute;
				left: 50%;
				top: -9px;
				transform: translateX(-50%) rotate(-45deg);
			}
		}

		.hoverBoxContent {
			padding: 20px;
			p {
				font-size: 12px;
				margin: 0;
				color: #6100A5;
			}
		}
	}
}

.breadcrumbsOption:hover {
	:global {
		.hoverBox {
			display: block;
			left: 50%;
			transform: translateX(-50%);
			position: absolute;
			top: calc(100% + 15px);
			background: #fff;
			border: 2px solid #6100A5;
			border-radius: 5px;
			width: 200px;
			height: 100px;
		}
	}
}

.breadcrumbsOption:last-child {
	border-right: none;
}

.breadcrumbsOptionActive {
	font-family: 'Neutro';
	color: #6100A5;
	background: -webkit-linear-gradient(left, #6100A5, #EC0677);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;

	  :global {
	  	.hoverBox {
	  		background: initial;
	  		-webkit-background-clip: initial;
	  -webkit-text-fill-color: initial;
	  		/*display: none;*/
	  		position: absolute;
	  		top: 100%;
	  		background: #fff;
	  		border: 1px solid #000;
	  		border-radius: 5px;
	  		width: 200px;
	  		height: 100px;
	  		.box {
	  			width: 15px;
	  			height: 15px;
	  			background: #fff;
	  			border-right: 2px solid #6100A5;
	  			border-top: 2px solid #6100A5;
	  			position: absolute;
	  			left: 50%;
	  			top: -9px;
	  			transform: translateX(-50%) rotate(-45deg);
	  		}
	  	}

	  	.hoverBoxContent {
	  		padding: 20px;
	  		p {
	  			font-size: 12px;

	  			font-family: 'Neutro-light';
	  			margin: 0;
	  		}
	  	}
	  }
}